<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Brit+Co</title>
  </head>
  <body>
    <main id="homepage-app" class="app-base">
    <header class="article-nav">
      <a href="/"><img src="https://components.britcdn.com/assets/images/logo.svg" alt="Brit + Co Logo" class="nav-logo"></a>

      <ul class="nav">
        <li priority="5" class="nav-item link-secondary"><a href="https://www.brit.co/category/beauty/">Beauty</a></li>
        <li priority="6" class="nav-item link-secondary hidden"><a href="https://www.brit.co/category/fashion/">Fashion</a></li>
        <li priority="7" class="nav-item link-secondary hidden"><a href="https://www.brit.co/category/food/">Food</a></li>
        <li priority="8" class="nav-item link-secondary hidden"><a href="https://www.brit.co/category/living/">Home</a></li>
        <li priority="9" class="nav-item link-secondary hidden"><a href="https://www.brit.co/category/issues/">Issues</a></li>
        <li priority="4" class="nav-item link-secondary"><a href="https://www.brit.co/video/">Video</a></li>
        <li priority="3" class="nav-item link-secondary"><a href="https://www.brit.co/learn/catalog/">Classes</a></li>
        <li priority="2" class="nav-item link-secondary"><a href="https://www.brit.co/shopping/">Shop</a></li>
        <!-- <li priority="9" class="overflow-item mobile-only"><a href="https://www.brit.co/category/lifestyle/relationships/" class="link-secondary">Relationships</a></li>
        <li priority="10" class="overflow-item mobile-only"><a href="https://www.brit.co/category/tutorials/" class="link-secondary">DIY</a></li>
        <li priority="11" class="overflow-item mobile-only"><a href="https://www.brit.co/category/lifestyle/health/" class="link-secondary">Health</a></li>
        <li priority="12" class="overflow-item mobile-only"><a href="https://www.brit.co/riding-solo-how-to-do-things-alone-as-a-woman/" class="link-secondary">Riding Solo</a></li>
        <li priority="13" class="overflow-item mobile-only"><a href="https://www.brit.co/category/kids/" class="link-secondary">Moms</a></li>
        <li priority="14" class="overflow-item mobile-only"><a href="https://www.brit.co/category/entertainment/" class="link-secondary">Entertainment</a></li>
        <li priority="15" class="overflow-item mobile-only"><a href="https://www.brit.co/category/lifestyle/brits-blog/" class="link-secondary">Britʼs Blog</a></li>
        <li priority="16" class="overflow-item mobile-only"><a href="https://www.brit.co/creative-crushin/" class="link-secondary">✨ Creative Crushinʼ</a></li>
        <li priority="17" class="overflow-item mobile-only"><a href="https://www.brit.co/self-care-city-guide/self-care-city-guide/" class="link-secondary">🤸‍ SELF-CARE CITY GUIDE</a></li>
        <li priority="0" class="nav-item more-item desktop-only"><span>More</span> <div class="overflow-container"><ul class="overflow-list"><li priority="5" class="overflow-item hidden"><a href="https://www.brit.co/category/beauty/" class="link-secondary">Beauty</a></li> -->

    </ul>
    </header>
    </main>
  </body>
</html>
