header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    border-bottom: 1px solid #f4f4f4;
    background: #fff;
    z-index: 11;
    display: block;
}

* {
    box-sizing: border-box;
}

.nav-logo {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 3;
}
