.container {
  background-color: white;
  padding: 100px;
}

h1 {
  text-align: center;
  font-family: Abril Display,Georgia,serif;
  letter-spacing: 0;
  padding-top: 30px;
}

p {
  text-align: center;
  padding: 59px;

}

h4 {
  text-align: left;
  padding-left: 200px;
  color: #acacac;
  font-family: Soleil,Helvetica,Arial,sans-serif;
  font-weight: 100;
  letter-spacing: .08334rem;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
}

img {
  padding: 200px;
  padding-top: 10px;
  padding-bottom: 1px;
  
}
